{#
/**
 * @file campaign_entity.html.twig
 * Default theme implementation to present Campaign entity data.
 *
 * This template is used when viewing Campaign entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_campaign_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('campaign_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
