<div class="container home-campaign-report">
	<div class="row">
		<div class="col-md-6 first-report">
			{% set vars = {'title': 'votantes', 'number': voters_num, 'link': voters_url} %}
			{% include  directory ~ '/templates/els-campaig-box.html.twig' with vars %}
		</div>
		
		<div class="col-md-6 second-report">
			{% if users_num > 0 %}
				{% set vars = {'title': 'Usuarios registrados', 'number': users_num, 'link': users_url} %}
				{% include  directory ~ '/templates/els-campaig-box.html.twig' with vars %}
			{% endif %}
			{% set vars = {'title': 'itinerarios', 'number': itineraries_num, 'link': itineraries_url} %}
			{% include  directory ~ '/templates/els-campaig-box.html.twig' with vars %}
			
		</div>
	</div>
</div>