<div class="els_breadcrumb_campaign">
	<ul class="menu nav list-group">
		<li class="list-group-item">{{ campaign_name }}</li>
		<li class="list-group-item">{{ campaign_type }}</li>
		<li class="list-group-item">{{ politycal_name }}</li>
	</ul>
</div>