<div class=" card report-box voters-container-report">
	<div class="icon-{{ title }}">
		<span>{{ title}}</span>
	</div>
	<div class="counter-report card-body">
		<div>
			<span class="items-count">{{ number }}</span>
			<span class="items-text">{{ title }}</span>
		</div>
	</div>
	<div class="card-footer footer-reporte">{{ link }}</div>
</div>